*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
_sass-cache/
wp-includes/
plugins/
wp-admin/
*.sass-cache
*.json
sftp-config.json
config.codekit
wp-activate.php
wp-config-sample.php
wp-config.php
wp-login.php
wp-load.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-comments-post.php
wp-cron.php
license.txt
readme.html
xmlrpc.php
index.php
wp-links-opml.php
wp-trackback.php
wp-blog-header.php
