.testimonials {
	position: relative;
	@include span(11 last);
	blockquote {
		clear: both;
		width: 100%;
		font-style: italic;
		float: left;
		span {
			margin-top:$padding;
			clear: both;
			float:right;
			font-style: normal;
		}
		&:before {
		content:' " ';
		display: block;
		float: left;
		left: -.4em;
		position: relative;
		top: .4em;
		font-size: 10em;
		line-height: 0;
		color: $primary;
		}
	}
	@include breakpoint(small) {
		margin-top:$gutter;
		@include span(24);
		blockquote {
			padding-left: $gutter*2;
			padding-right: $gutter*2;
		&:before {
			left: -70px;
		}
	}
		
	}
	&:after {
		content:'arrow';
		text-align: center;
		color: $secondary;
		width: 3em;
		height: 2em;
		display: block;
		position: relative;
		top:3em;
	}
}
.home .recentgallery {
	background-position: -14% 5%;
	@include breakpoint(large) {
		padding:0 gutter(6);
		background-position: -12% 5%;
	}
	h2 {
		background-position: -18% 10%;
	}
}
.recentgallery {
	width:100%;
	margin:$gutter*2 0;
	clear: both;
	float: left;
	background: white url(./images/pattern.svg);
	background-repeat: repeat-y;
	background-position: 114% 5%;
	background-size: 14%;
	@include breakpoint(large) {
		padding:0 gutter(6);
		background-position: 112% 5%;
	}

	header {
		margin-bottom: 0;
	}
	h2 {
		@include b-text;
		font-size: 1em;
		text-transform: lowercase;
		margin-top: 0;
		margin-bottom: 0;
		// text-align: center;
		font-weight: 100;
		position: absolute;
		bottom: 0;
		background: white url(./images/pattern.svg);
		background-repeat: repeat-y;
		background-position: 118% 10%;
		background-size: 19%;
		//padding: $padding;
		width: 100%;
		opacity: 0;
		z-index: 100;
		a {
			text-decoration: none;
			color:$grey;
			border:none;
			display: block;
			padding: $padding;
			padding-left:$padding*2;
			// text-align: center;
		}
	}
	figure {
		line-height: 0;
	}
	.post {
		position: relative;
		img {
			// opacity: .9;
			filter: brightness(90%);
		}
		&:hover {
		h2 {
			opacity: 1;
			transition: all .4s ;
		}
		img {
			opacity: 1;
			//filter: blur(3px);
			filter: brightness(40%);
			transition: all .2s ;
		}
	}
	}
	.center_container {
		padding:0 gutter(6);
	}
}