.site-footer {
	padding:gutter(12);
	margin:gutter(12);
	margin-top: gutter(6);
	clear: both;
	border:5px solid $secondary;
	box-shadow: inset 0px 0px 0px 14px white, 
				inset 0px 0px 0px 19px black;
	min-height:15em;
	background: url(./images/pattern.svg), url(./images/pattern.svg);
	background-repeat: repeat-y;
	background-position: -4%, 104%;
	background-size: 8%;
	a {
		border:none;
	}
	h2 {
		text-align: center;
		color:$grey;
	}
	p {
		max-width: 65%;
		text-align: center;
		margin:0 auto;
		border-bottom: 1px solid $secondary;
		font-size: 95%;

	}
	.small {
	   font-size: 80%;
	   font-style: italic;
	   border:none;
	   text-align: right;
	   color: $lightgrey;
	   margin-top: $padding;
	}
}

@include keyframes(move_bg) {
  0% {
    // opacity:0;
    // background-position: 40% 0%;
    background-size:100%;
  }
  100% {
    // opacity:1;
    // background-position: 10% 0%;
    background-size:200%;
  }
}

@mixin move_bg {
  animation: move_bg 4s linear 0s infinite;
}
.lists {
		text-align: center;
		display: flex;
		flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	    align-content: center;
	    align-items: flex-start;
	ul {
		flex: 0 1 auto;
		list-style:none;
		padding-left:0;
	}
	&>ul {
		width:span(6);
		padding-right: gutter(24);
		// width: span(6 split);
		float: left;
		clear: none;
		display: inline-block;
		@include breakpoint(large) {
			width:span(12);
		}
		@include breakpoint(small) {
			width:span(24);
		}
		&:nth-child(5n) {
			// clear:left;
		}
	}
	&>li {
		display: block;
		float: left;
	}
	ul ul {
		margin-left:0;
		list-height:1;
		li {
			font-size: 90%;
			line-height:1.4;
			a {
				line-height:1;
			}
		}
	}
}
.lists {}