/*clearfix*/
.group:after { 
  content: "";
  display: table;
  clear: both;
}
/* apply a natural box layout model to all elements */
* { box-sizing: border-box; }
img { 
	max-width:100%;
	height: auto;
} 
body {
	background-repeat: no-repeat;
} 
.centre-wrapper {
	@include container($xlarge);
	position: relative;
}
.site-info {
	@include container($xlarge);
		padding:0 $gutter*2;
	@include breakpoint(medium) { 
		padding:$gutter*2;
	}
}
.center_container{
	@include container($xlarge);
	padding:0 gutter(12);

	@include breakpoint(medium) { 

	}
	@include breakpoint(small) { 
	}
}
.page .site-content, .single .site-content {
	@include container($xlarge);
	padding:0 gutter(12);
	article {
		padding:0 gutter(12);
	}
}
.page .content-area {
	padding:0 gutter(12);
}
article header {
	margin-bottom: $gutter*2;
}
.para {
	@include span(11 split no-gutter);
}
.para>p:first-child{
	margin-top: 0;
}
.project_image_container {
	@include span(11 last);
}
.colOne {
	@include span(4 of 8 after split);
	@include breakpoint(medium) { 
		clear:both;
		width:100%;
	}
}
.colTwo {
	@include span(4 of 8 last);
	@include breakpoint(medium) { 
		clear:both;
		width:100%;
	}
}
section {
	margin-bottom: $gutter;
}
/* Alignment */
.centre-wrapper {
	//@include centrethis;

}
.alignleft {
	display: inline;
	float: left;
	margin-right: $gutter;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $gutter;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}