/*clearfix*/
.group:after {
  content: "";
  display: table;
  clear: both;
}
/* apply a natural box layout model to all elements */
* { box-sizing: border-box; }
img { max-width:100%} 

body {
	background-repeat: no-repeat;
} 
.centre-wrapper {
	@include container($xlarge);
	position: relative;
}
.site-header {
	@include container($xlarge);
	padding:0 gutter(3);
}
.site-content {
	@include container($xlarge);
	padding:0 gutter(24);

	@include breakpoint(medium) { 

	}
	@include breakpoint(small) { 
	}
}
.site-content.home{
	border-top: none;
}
.content-area {

}
article header {
	margin-bottom: $gutter*2;
}
.colOne {
	@include span(4 of 8 after split);
	@include breakpoint(medium) { 
		clear:both;
		width:100%;
	}
}
.colTwo {
	@include span(4 of 8 last);
	@include breakpoint(medium) { 
		clear:both;
		width:100%;
	}
}
section {
	margin-bottom: $gutter;
}
.site-footer {
	clear: both;
	background-color: $primary;
	min-height:15em;
	@include container;
}

/* Alignment */
.centre-wrapper {
	//@include centrethis;

}
.alignleft {
	display: inline;
	float: left;
	margin-right: $gutter;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $gutter;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}