.site-title img {
	max-width: 100%;
}
.site-header {
	background: white url(./images/pattern.svg);
	background-repeat: repeat-y;
	background-position: -14% 5%;
	background-size: 14%;
	padding-left:gutter(6);
	@include breakpoint(medium) {
		padding-left:gutter(12);
	}
}
.tagline {
	max-width: 24em;
	clear: none;
	color:$darkgrey;
	margin-top:0;
	padding:gutter(24) 0;
	&:first-letter {
		font-size: 291%;
		line-height: 96%;
		padding-right: 10px;
		float: left;
	}
	span {
		
	}
	&:after {
		content: ' ';
		display: block;
		float: right;
		margin-top:gutter(6);
		margin-right:0;
		width: 6em;
		height:3em;
		background: url(images/signature.png) no-repeat;
	}
	@include breakpoint(medium) { 
		font-size: 1.8125em;
		margin-top: 1.86206897em;
		margin-bottom: 0.93103448em;
		padding:0 gutter(24);
	}
}