.site-header {
	position: relative; 
	margin-bottom: $gutter;
	padding-bottom: $gutter;
	min-height: 10em;
	@include breakpoint(medium) { 
		padding-top: $gutter;
	}
	@include breakpoint(small) { 
		padding-top: 0;
		padding-bottom: 0;
	}
}

.site-branding {
	@include span (3);
	float:left;
	@include breakpoint(small) { 
		clear:both;
		@include span (3);
		position: relative;
		top:$gutter;
	}	
}
.site-title {
	border:none;
	width:100%;
	margin-bottom: 0;
	// font-size: 3em;
	margin-top:$padding;
	a {
		display: inline-block;
		border:none;
		width: 6.4em;
		min-height: 3.5em;
		content: ' ';
		background: url(./images/logo.png) no-repeat;
		background-image: url(./images/logo.png), none;
		background-image: url(./images/logo.svg), none;
		background-repeat: no-repeat;
		background-size: contain;
		@include breakpoint(small) { 
			width: 7.6em;
			margin-left: $padding*0.5;
		}
	}
	object {
		position: relative;
		max-width:5.5em;
		z-index: -1;// this is to make the link work, in combo with display block on the a
		// pointer-events: none; // link does not work without this, but is not supported in IE untill IE 11
	}
	img {
		max-width:6.5em;
	}
	@include breakpoint(medium) { 
		margin-top:0;
	}
	@include breakpoint(small) { 
		margin-bottom: 1em;
	}
}