.references {
	background: white url(./images/pattern.svg);
	background-repeat: repeat-y;
	background-position: 105% 0%;
	background-size: 7%;
	padding: 0 gutter(6);
	margin: $gutter*3 auto;
}	
.references  .center_container {
	padding: gutter(6);
	border-top: 1px solid $secondary;
	border-bottom: 1px solid $secondary;
	&:after {
		// width:gutter(12);
	 // 	height:15em;
	 // 	content: ' ';
	 // 	position: absolute;
	 // 	right:0;
		// float: right;
	 // 	display: block;
	 // 	opacity: .3;
	 // 	background: white url(./images/pattern.svg);
	 // 	clear: none;
	}
}
.recentgallery .center_container {
	// // margin: $gutter*2 auto;
	// &:before {
	// 	width:gutter(12);
	// 	height:30em;
	// 	content: ' ';
	// 	float: left;
	// 	position: absolute;
	// 	left:0;
	// 	display: block;
	// 	opacity: .7;
	// 	background: white url(./images/pattern.svg);
	// 	clear: none;
	// }
}

.logos {
	@include span(11);
	padding-left:0;
	ul {
		list-style: none;
		columns:2;
		color: $grey;
		padding: 0;
	}
	li {
		margin:0;
	}
	img {
		margin-top:$gutter;
		max-width: 100%;
	}
	@include breakpoint(small) {
		@include span(24);
	}
}