.sidebar {
	@include span(4 of 12 split last);
	padding: 0 1.3888888889%;
	padding-top: $gutter;
	border-top: 5px solid $primary;
	margin-top: $gutter*2;
	@include breakpoint(medium) { 
		@include span(12 split); 
	}
}
.sidebar aside {
	margin-bottom: $gutter; 
}
.feature {
	padding: $padding 0;
	margin:0;
	line-height: 1.6;
	text-transform: uppercase;
	font-size: 90%;
	@include breakpoint(large) { 
		margin-top: $gutter*2;
	}
	a {
		display: block;
		width: 100%;
		float: left;
		clear: both;
		margin-bottom: $padding;
	}
	h1.widget-title {
		margin-top: .45em;
		color: $grey;
		font-size: 1.75em;
		line-height: 1em;
		margin-bottom: 1em;

		@include breakpoint(large) { 
			margin-top: .8em;
			font-size: 1.3125em;
			line-height: 1.333333333em;
			margin-top: 1.33333333em;
			margin-bottom: 1.33333333em;
		}
	}
	h3 {
		letter-spacing: 1px;
		margin-bottom: 0em;
		font-size: 95%;
		margin-top: 0;
		float: left;
		max-width: 70%;
		display: block;
	}
	time, span.post-date {
		float: right;
		max-width: 30%;
		display: block;
		line-height: 1em;
		padding-top: 2px;
	}
	p {
		clear: both;
		margin-top: $padding*2;
	}
}
figcaption h3 {
	clear: both;
}
.widget-area .widget {
	width: 100%;
	clear: both;
	float: left;
	border-bottom: 1px solid $primary;
	h1.widget-title {
		margin-top: .45em;
		color: $grey;
		font-size: 1.75em;
		line-height: 1em;
		margin-bottom: 1em;
		@include breakpoint(large) { 
			margin-top: .8em;
			font-size: 1.3125em;
			line-height: 1.333333333em;
			margin-top: 1.33333333em;
			margin-bottom: 1.33333333em;
		}
	}
	h2 {
		margin-top: 0;
	}
	a {
		display: block;
		width: 100%;
		float: left;
		clear: both;
		margin-bottom: $padding;
	}
	ul {
		width: 100%;
		margin:0;
		clear: both;
		float: left;
	}
	li a {
		color: $lightgrey;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 1px;
		margin-bottom: 0em;
		font-size: 80%;
		border-bottom: none;
		margin-top: 0;
		float: left;
		max-width: 58%;
		display: block;
	}
	p {
		text-transform: none;
	}
	img {
		margin: $padding 0;
	}
	span.post-date {
		float: right;
		max-width: 38%;
		display: block;
		// line-height: 1em;
		padding-top: 2px;
		font-size:85%; 
	}
}


