@import "genericons.scss"; @import "mixins.scss";

// gridlover for vertical rhytm, font size 16px / line-height 1,725 / scale factor 1,333 
body {
   font-size: 1em;
   line-height: 1.6875em;
   @include b-text;
}
h1,h2,h3,h4,h5,h6 {
	@include h-text;
}
h1 {
 font-size: 2.375em;
   line-height: 1.421052632em;
   margin-top: 1.42105263em;
   margin-bottom: 0.71052632em;
   color: rgba(124, 124, 124, 1);
   padding: 0px 0%;
   text-align: left;
   clear: both;
}

h2 {
   font-size: 1.8125em;
   line-height: 1.862068966em;
   margin-top: 1.86206897em;
   margin-bottom: 0.93103448em;
   color: rgba(119, 119, 119, 1);
   clear: both;
}

h3 {
   font-size: 1.3125em;
   line-height: 1.285714286em;
   margin-top: 1.28571429em;
   margin-bottom: 1.28571429em;
}

h4 {
   font-size: 1em;
   line-height: 1.6875em;
   margin-top: 1.6875em;
   margin-bottom: 1.6875em;
}

p {
   margin-top: 1.6875em;
   margin-bottom: 1.6875em;
   color: rgba(127, 127, 127, 1);
   max-width: 50em;
}

ul {
   margin-top: 1.6875em;
   margin-bottom: 1.6875em;
}

ol {
   margin-top: 1.6875em;
   margin-bottom: 1.6875em;
}

pre {
   margin-top: 1.6875em;
   margin-bottom: 1.6875em;
}

table {
   margin-top: 1.6875em;
   margin-bottom: 1.6875em;
}

blockquote {
   margin:0;
   margin-top: 0.93103448em;
   // margin-bottom: 0.93103448em;
   font-family: "jaf-bernino-sans";
   font-weight: 300;
   font-style: italic;
   color: rgba(96, 94, 94, 1);
   padding: $padding;
   border-width: 0px;
   border-style: solid;
}
a, a:hover, a:visited {
   color:$links;
   text-decoration: none;
   border-bottom: 1px solid ;
}
a:active {
   color:$primary;
}
hr {
   border: 1px solid;
   margin: -1px 0;
}

ul ul {
   margin-top: 0;
   margin-bottom: 0;
}

ol ol {
   margin-top: 0;
   margin-bottom: 0;
}

ul ol {
   margin-top: 0;
   margin-bottom: 0;
}

ol ul {
   margin-top: 0;
   margin-bottom: 0;
}
dl {

}
dt {

}

b {
   line-height: 1;
}

strong {
   line-height: 1;
}

em {
   line-height: 1;
}

small {
   line-height: 1;
}

code {
   line-height: 1;
}

sup {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}

sub {
   vertical-align: baseline;
   position: relative;
   top: 0.4em;
}

h1 a {
}

h1 a:hover {
}

h1 a:visited {
}

p a {
}

p a:hover {
}

p a:visited {
}

blockquote a {
}

blockquote a:hover {
}

blockquote a:visited {
}

h1.highlight {
   color: rgba(51, 51, 51, 1);
}

h1.highlight a {
}

h1.highlight a:hover {
}

h1.highlight a:visited {
}

